<!--
//Name: COMP2007 Enterprise Computing final project  - Summer 2016
//Author: Mo Zou &　Pui in Kwok & Yang Li
//Description: This view will show error message when there is any error
-->

@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<p>
    We're sorry, we've hit an unexpected error.
    Click <a href="javascript:history.go(-1)">HERE</a>
     to go back and try that again later.
</p>